.contacts {
  &-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &.top {
      padding-bottom: 45px;
      margin-bottom: 40px;
      border-bottom: 1px solid #DADADA;
    }
  }

  &-data {
    & p,
    a {
      margin-bottom: 14px;
    }
  }

  &-link p {
    margin-bottom: 0px;
  }

  &-form {
    &-top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      margin-bottom: 20px;
    }

    & textarea {
      margin-bottom: 20px;
    }
  }

  &-map {
    height: 335px;
    background-color: $gray-light-color;
  }
}