.gallery {
  &-inner {
    display: flex;
    align-items: center;
    grid-gap: 60px;
  }

  &-photos {
    width: 720px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &-photo {
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &-col {
    & .wrapper-title {
      margin-bottom: 14px;
    }

    & p {
      margin-bottom: 50px;
    }
  }

  &-link {
    font-weight: 500;
    font-size: 28px;
    color: $primary-color;
  }

  // Adaptation
  @media (max-width: 1200px) {
    &-inner {
      grid-gap: 40px;
    }
  
    &-photos {
      width: 720px;
      grid-template-columns: repeat(3, 1fr);
    }
  
    &-col {
      & .wrapper-title {
        margin-bottom: 14px;
      }
  
      & p {
        margin-bottom: 50px;
      }
    }
  
    &-link {
      font-size: 28px;
    }
  }

  @media (max-width: 992px) {
    &-inner {
      grid-gap: 30px;
    }
  
    &-photos {
      width: 670px;
      grid-template-columns: repeat(3, 1fr);
    }
  
    &-col {
      & .wrapper-title {
        margin-bottom: 14px;
      }
  
      & p {
        margin-bottom: 40px;
      }
    }
  
    &-link {
      font-size: 28px;
    }
  }

  @media (max-width: 768px) {
    &-inner {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
  
    &-photos {
      grid-row: 2/3;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
    }
  
    &-col {
      & .wrapper-title {
        margin-bottom: 14px;
      }
  
      & p {
        margin-bottom: 20px;
      }
    }
  
    &-link {
      font-size: 22px;
    }

    &-col:last-child {
      text-align: center;
    }
  }

  @media (max-width: 576px) {
    &-inner {
      grid-gap: 24px;
    }
  
    &-photos {
    }
  
    &-col {
      & .wrapper-title {
        margin-bottom: 14px;
      }
  
      & p {
        margin-bottom: 14px;
      }
    }
  
    &-link {
      font-size: 20px;
    }
  }

  @media (max-width: 380px) {
  }
}


.review {
  &-photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 22px;
  }

  &-authorBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  &-author {
    display: flex;
    align-items: center;
    grid-gap: 14px;

    &-avatar {
      display: block;
      height: 50px;
      width: 50px;

      border-radius: 50%;
    }

    &-name {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.4;
      color: $primary-color;
    }
  }

  &-rating {
    display: flex;
    flex-direction: column;
    align-items: end;

    &-stars {
      display: flex;
      grid-gap: 12px;

      & svg {
        display: block;
        height: 18px !important;
        width: 18px !important;
      }
    }

    &-count {
      font-weight: 400;
      font-size: 12px;
      line-height: 1;
      color: $gray-color;
    }
  }
}