.categories {
  &-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px;
    gap: 12px;

    min-width: 330px;
    width: 330px;
    height: 148px;

    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
  }

  &-preview {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 15px;
    overflow: hidden;
  }

  &-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    font-family: 'Helvetica Neue';
    color: $primary-color;
    margin-bottom: 6px;
  }

  &-text {
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 14px;
    color: $gray-color;
  }
}