.partners {
  &-slide {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-item {
    display: block;
    height: 105px;
    width: 210px;

    filter: grayscale(1);
    opacity: .6;
    transition: all .3s ease-in-out;

    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }
  }

   // Adaptation
  @media (max-width: 1200px) {
    &-item {
      height: 85px;
      width: 170px;
    }
  }

  @media (max-width: 992px) {
    &-item {
      height: 75px;
      width: 150px;
    }
  }

  @media (max-width: 768px) {
    &-item {
      height: 69px;
      width: 138px;
    }
  }

  @media (max-width: 576px) {
    &-item {
      height: 55px;
      width: 110px;
    }
  }
}