/* -----VARIABLES----- */

// Colors ---------------------
$primary-color: #212121;
$accent-color: #4094F7;

$gray-color: #B7B7B7;
$gray-light-color: #EAEAEA;
$gray-dark-color: #575F76;
$gray-dark-v2-color: #4A5568;
$gray-dark-v3-color: #212529;
$gray-bg-color: rgba(#D7D8E1, .5);

$perple-bg-color: rgba(#6A4BFF, .1);
$perple-light-color: rgba(#6A4BFF, .5);

$green-color: #3BC963;
$green-bg-color: rgba(#3BC963, .1);
$green-light-color: rgba(#3BC963, .7);

$yellow-color: #FFD12C;
$yellow-bg-color: rgba(#FFD12C, .1);
$yellow-light-color: rgba(#FFD12C, .7);

$carrot-color: #F5980D;
$carrot-bg-color: rgba(#F5980D, .1);

$red-color: #F95050;
$red-bg-color: rgba(#F95050, .1);
$red-light-color: rgba(#F95050, .5);

// Colors ---------------------
$border-medium-radius: 10px;

$margin-medium: 30px;
$margin-small: 10px;