.wrapper{
  width: 100%;
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;

  &-block {
    margin: 120px 0;
  }

  &-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 28px;
    color: $primary-color;
  }

  &-header-withSb {
    & .wrapper-title {
      margin-bottom: 16px;
    }
    margin-bottom: 40px;
  }
  
  // Adaptation
  @media (max-width: 1200px) {
    padding: 0 30px;

    &-block {
      margin: 100px 0;
    }
  }

  @media (max-width: 992px) {
    &-block {
      margin: 90px 0;
    }

    &-title {
      font-size: 30px;
      margin-bottom: 24px;
    }

    &-header-withSb {
      & .wrapper-title {
        margin-bottom: 16px;
      }
      margin-bottom: 35px;
    }
  }

  @media (max-width: 768px) {
    padding: 0 20px;

    &-block {
      margin: 70px 0;
    }
  }

  @media (max-width: 576px) {
    &-block {
      margin: 60px 0;
    }
  }

  @media (max-width: 380px) {
    &-block {
      margin: 50px 0;
    }
  }
}
  