.wrapper{
  width: 100%;
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;

  &.block {
    margin: 60px 0 70px;
  }

  &-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 28px;
    color: $primary-color;
  }

  &-header-withSb {
    & .wrapper-title {
      margin-bottom: 14px;
    }
    margin-bottom: 30px;
  }
  
  // Adaptation
  @media (max-width: 1200px) {
    padding: 0 30px;
  }

  @media (max-width: 992px) {
    &-title {
      font-size: 30px;
      margin-bottom: 24px;
    }
  }

  @media (max-width: 768px) {
    padding: 0 20px;
  }

  @media (max-width: 576px) {
  }

  @media (max-width: 380px) {
  }
}
  