.line {
  display: block;
  width: fit-content;
  position: relative;

  &::after {
    content: '';
    display: block;
    height: 0;
    width: 80%;

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;
    border-bottom: 1.6px solid $primary-color;
    transition: all .3s ease-in-out;
  }

  &:hover::after {
    opacity: 1;
    width: 100%;
  }

  &.white::after {
    border-color: white;
  }
}